body {
    margin: 0;
}

.row-div.title-div {
    background: #2F3648;
    text-align: center;
    padding: 15px;
}

.row-div.title-div .title {
    color: white;
    font-size: 20px;
}

.row-div.title-div .fa-cog {
    color: #3C4558;
    position: absolute;
    left: 10px;
    top: 18px;
}

.row-div.title-div .right-icon-div {
    position: absolute;
    right: 0;
    top: 18px;
}

.row-div.title-div .right-icon-div i {
    margin-right: 10px;
}

.row-div.title-div .fa-window-minimize {
    color: #3C4558;
}

.row-div.title-div .fa-square {
    color: #3C4558;
}

.row-div.title-div .fa-times {
    color: #3C4558;
}

.menu-div {
    background: #2F3648;
    height: 78px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.menu-div i {
    font-size: 32px;
    color: #59647C;
    margin-right: 30px;
}

.menu-div i:last-child {
    margin-right: 0;
}

.menu-div i.active {
    color: white;
}

.search-div {
    background: #EDF1F8;
    height: 57px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.search-div input {
    width: 100%;
    height: 38px;
    padding-left: 30px;
    box-sizing: border-box;
}

.search-div input::placeholder {
    color: #C5C8D0;
    font-size: 16px;
}

.search-div i {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #C5C8D0;
}

.label-div {
    background: #f7f7f7;
    height: 40px;
    padding: 8px 0 0 15px;
    border: 1px solid #D4D3D8;
    border-right: 0;
    border-left: 0;
    box-sizing: border-box;
}

.label-div span {
    color: #D4D3D8;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.label-div i {
    margin-top: 2px;
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #D4D3D8;
}

.user-profile-div {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D4D3D8;
}

.user-profile-div .user-image-div {
    margin-left: 15px;
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.user-profile-div .user-image-div img {
    width: 100%;
    height: 100%;
}

.user-profile-div .user-image-div,
.user-profile-div .name-div,
.user-profile-div .icon-div {
    display: inline-block;
}

.user-profile-div .name-div {
    vertical-align: top;
    margin-top: 14px;
    margin-left: 10px;
    width: 430px;
}

.user-profile-div .name-div.no-profile-text {
    margin-top: 24px;
}

.user-profile-div .icon-div {
    vertical-align: top;
}

.user-profile-div .icon-div i {
    font-size: 30px;
    margin-top: 20px;
    color: #8A91A2;
}

.border-bottom-0 {
    border-bottom: 0;
}