

:root{
    --mainColor: red;
}

body{
    margin: 0;
    padding-top: 20px;
}
*{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
}

.main-contanier{
    height: 100%;
    max-width: 350px;
    max-height: 570px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #2f3649;
}
.title-div{
    background: #2F3649;
    padding: 5px 10px;
    height: 35px;
    .title{
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-left: 45px;
    }
    .left-icon{
        color:#687693;
    }
    .right-icon{
        color:#687693;
        i{
            margin-right: 5px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.nav-div{
    background: #2f3649;
    height: 70px;
    justify-content: center;
    i{
        margin: 0 20px;
        color:#66718C; 
        cursor: pointer;
        &.active{
            color: white;
        }   
    }
}

.search-div{
    padding: 7px;
    background:#F7F8F9;
    height: 42px;
    border-bottom: 1px solid #F6F5FA;
    .inner-div{
        width: 100%;
        background: #fefefe;
        border: 1px solid #E9EDF0;
        i{
            color:#E4E5E6;
            margin-left: 7px;
        }
        input{
            border: 0;
            width: 100%;
            padding: 5px;
            &::placeholder{
                color: #d8d6db;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.label-div{
    padding: 3px 7px;
    color: #d8d6db;    
    background: #FBFBFD;
    border-bottom: 1px solid #F6F5FA;
    justify-content: space-between;
    height: 25px;
    .text{
        color: #DEDDE1;
        font-size: 12px;
        font-weight: bold;
    }
}

.chat-row{
    height: 65px;
    .profile-div{
        padding: 5px 15px;
        width: 75px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #ddd;
        }
    }
    .content-div{
        width: 100%;
        .name{
            color: #2f3649;
        }
        .chat-string{
            font-size: 14px;
            color: #DEDDE1;
        }
    }
}

.scroll-content{
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
       
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
        background: #666; 
    }
}